<div class="specific-service-detail">
    <div class="container p-5">
        <div class="row border bg-white text-center text-md-start">
            <div class="col-md-4 d-flex justify-content-center">
                <img class="img-service" src="../../../../assets/instalacion-split-pared.jpg" alt="">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-start py-3">
                <h1 class="fw-bold pb-2">Instalación Básica Split Pared hasta 3.500 frigorías</h1>
                <div class="alert alert-warning py-2 fw-bold">
                     <i class="fa-solid fa-circle-exclamation"></i> NOSOTROS TE LLAMAMOS PARA PROGRAMAR LA CITA PARA LA INSTALACIÓN
                  </div>
                <p>Precios de instalación para equipos {{slug}} suministrados por <strong>Conforzone Eficiencias</strong>.</p>
            </div>
        </div>
        <div class="row py-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active fw-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">DESCRIPCIÓN</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                </li>
              </ul>
            
              <div class="tab-content rounded border-end border-bottom border-start" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h2 class="mb-3 pt-3 fw-medium">DESCRIPCIÓN</h2>
                  <p class="fw-medium">Nuestra instalación básica de aire acondicionado Split Pared incluye:</p>
                  <ul class="li-with-dots px-3">
                    <li>          
                        Hasta 3 metros de recorrido frigorífico entre unidad interior y exterior con tubería de cobre de 1/4" y 3/8" con aislamiento térmico para exterior, incluyendo también hasta 3 metros de canaleta de PVC blanca de protección tanto en instalación interior como exterior para la parte vista del circuito frigorífico.
                    </li>
                    <li>        
                        Apertura de un calo pasamuros en cerramiento de obra de hasta 40 cm de espesor y posterior sellado del mismo con masilla acrílica blanca (No incluye apertura de huecos en hormigón)
                    </li>
                    <li>
                        Soportes y silentblock en caso de que la unidad exterior vaya colgada en cerramiento, o bien, soportes antivibratorios de suelo en caso de que la unidad exterior esté ubicada en suelo.
                    </li>
                    <li>
                        Hasta 3 metros de cableado de interconexión de maniobra entre unidad interior y exterior.
                    </li>
                    <li>
                        Hasta 3 metros de manguera blanca de alimentación eléctrica entre punto de corriente más cercano y equipo (sin canaleta, fijada con grapas a pared), nuestros técnicos siempre intentarán de que la manguera esté lo menos visible posible.
                    </li>
                    <li>
                        Hasta 3 metros de tubería de desagüe.
                    </li>
                    <li>
                        Accesorios y pequeño material necesario para la instalación.
                    </li>
                  </ul>
                  <p class="fw-medium">Sólo empleamos materiales de alta calidad y mano de obra especializada para el perfecto desempeño de nuestras instalaciones.</p>
                    <p class="fw-medium">En el caso de que la vivienda tenga preinstalación existente, se considera el mismo precio que una instalación nueva.</p>
                    <p class="fw-medium">Las instalaciones realizadas tienen que quedar accesibles para no perder la garantía del fabricante.</p>            
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <h2 class="mb-3">Profile</h2>
                  <p class="lead">This is the profile tab content.</p>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <h2 class="mb-3">Contact</h2>
                  <p class="lead">This is the contact tab content.</p>
                </div>
              </div>
        </div>
    </div>
</div>
