<div class="specific-service-detail">
  <div class="container p-5">
    <div class="row border bg-white text-center text-md-start">
      <div class="col-md-4 d-flex justify-content-center">
        <img class="img-service" src="../../../../assets/instalacion-split-pared.jpg" alt="">
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-start py-3">
        <h1 class="fw-bold pb-2">Instalación Básica Split Pared hasta 3.500 frigorías</h1>
        <!--
        <div class="alert alert-warning py-2 fw-bold">
          <i class="fa-solid fa-circle-check"></i> NOSOTROS TE LLAMAMOS PARA PROGRAMAR LA CITA PARA LA INSTALACIÓN
        </div>
        -->
        <p>Precios de instalación para equipos {{installationLabel}} suministrados por <strong>Conforzone
            Eficiencias</strong>.</p>
        <p>Garantía de 3 años en nuestra instalación realizada.</p>

        <div class="border mb-3 rounded">
          <div class="d-flex justify-content-around align-items-center">
            <div class="d-md-flex gap-md-5 gap-3">
              <h5 class="fw-bold mt-3">Cantidad: </h5>
              <div class="d-flex gap-3 justify-content-center align-items-center">
                <button (click)="decrement()" class="btn btn-primary"> - </button>
                <p class="mt-3">{{quantity}}</p>
                <button (click)="increment()" class="btn btn-primary"> + </button>
              </div>
            </div>
            <div class="d-flex align-items-center gap-3">
              <h5 class="fw-bold mt-1">{{ totalPrice | number:'1.2-2' }}€</h5>
              <p class="pt-2 text-muted mt-1 mb-0 fst-italic fw-light" style="font-size: 14px;">21% IVA incluido</p>
            </div>
          </div>
        </div>
        <div class="alert alert-info py-2 fw-bold">
          <i class="fa-solid fa-circle-exclamation"></i> Todos los precios en la página son una aproximación del precio
          final, para confirmación de este consultar precio via Email o <a class="alert-link link-with-underline"
            href="https://web.whatsapp.com/send?l=es&phone=34674778285&text=Has guaranteeado con Conforzone Eficiencias y estamos para atenderte en lo que necesites. Muchas gracias"
            target="_blank">Whatsapp</a>.
        </div>
      </div>
    </div>
    <div class="row py-4">
      <ul class="nav nav-tabs fw-bold" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description"
            type="button" role="tab" aria-controls="description" aria-selected="true">DESCRIPCIÓN</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="additionalMeters-tab" data-bs-toggle="tab" data-bs-target="#additionalMeters"
            type="button" role="tab" aria-controls="additionalMeters" aria-selected="false">METROS ADICIONALES</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="guarantee-tab" data-bs-toggle="tab" data-bs-target="#guarantee" type="button"
            role="tab" aria-controls="guarantee" aria-selected="false">GARANTÍA</button>
        </li>
      </ul>

      <div class="tab-content rounded border-end border-bottom border-start" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          <p class="pt-3 fw-medium">Nuestra instalación básica de {{installationLabel}} incluye:</p>
          <ul class="li-with-dots px-3">
            @for (description of arrayDescription; track $index) {
            <li class="">{{description}}</li>
            }
          </ul>
          <p>Sólo empleamos materiales de alta calidad y mano de obra especializada para el perfecto desempeño de
            nuestras instalaciones.</p>
          <p>En el caso de que la vivienda tenga preinstalación existente, se considera el mismo precio que una
            instalación nueva.</p>
          <p>Las instalaciones realizadas tienen que quedar accesibles para no perder la garantía del fabricante.</p>
        </div>
        <div class="tab-pane fade" id="additionalMeters" role="tabpanel" aria-labelledby="additionalMeters-tab">
          <p class="mb-3 mt-3">Si los 3 metros de recorrido incluidos en la instalación <strong>no son suficientes</strong> puede añadir un
           <strong>metro adicional por 33,00€</strong>. En caso de que no tenga claro los metros adicionales que va a necesitar, no se preocupe, nuestros técnicos lo medirán y se lo añadirán a la factura final.</p>
        </div>
        <div class="tab-pane fade" id="guarantee" role="tabpanel" aria-labelledby="guarantee-tab">
          <h2 class="mb-3 mt-3 fw-bold" style="color: rgb(70, 70, 70); font-size:20px;">La Garantía mínima en todos
            nuestros productos ofrecida por el fabricante es de 3 años</h2>
          <h5 class="fw-bold pb-2">Desde el 1 de enero de 2022 está vigente la normativa aprobada en abril de 2021 en la
            que los dos años de garantía legal de los productos pasan a ser tres años de garantía legal</h5>
          <p>La garantía de los productos y la garantía de la instalación correspondiente al equipo comprado, ya sea,
            aire acondicionado, energía solar, termos, etc... es un asunto que preocupa bastante a nuestros clientes. Es
            por ello que hemos dedicado esta sección para poder explicarlo debidamente.</p>
          <p>Cuando se instala un equipo de aire acondicionado u otro de nuestros productos hay que separar la garantía
            del equipo y la garantía correspondiente a la instalación realizada por nuestro equipo. La primera garantía
            siempre repercute al fabricante y cubre cualquier avería del producto debido a cualquier problema derivado
            de un fallo o defecto de fábrica, en este caso, nuestro departamento de postventa gestionará y dará aviso al
            S.A.T. de la marca en cuestión la incidencia mediante el envío del parte determinado especificando los datos
            de nuestro cliente y el fallo detectado en el equipo. Este servicio lo ofrece nuestra empresa Conforzone
            Eficiencias durante los tres años de Garantía oficial del fabricante llevando también en este caso el
            seguimiento de la intervención.</p>
          <p>Algunas marcas de aire acondicionado y de energía solar ofrecen más años de garantía adicional, como por
            ejemplo, la marca LG (10 años de Garantía en compresor), CARRIER (5 años de garantía en compresor) , JOHNSON
            (5 años de Garantía en compresor), etc...</p>
          <p>Por otro lado, está la garantía de la instalación ejecutada por nuestro equipo (2 años desde la fecha de la
            instalación), siendo esta responsabilidad de nuestra empresa autorizada Conforzone Eficiencias. El documento
            que acredita nuestra garantía es la factura de compra, en la aparece la descripción detallada del servicio
            realizado.</p>
          <p>Los clientes que compran el equipo de aire acondicionado sin instalación, tienen que tener siempre presente
            que dicha instalación tiene que realizarla una empresa instaladora autorizada, en caso contrario, perdería
            la garantía del fabricante.</p>
          <p>Es por ello, por lo que tenemos que resaltar también en este apartado que los equipos de aire acondicionado
            y su instalación correspondiente debe cumplir con la legislación vigente y por la normativa específica sobre
            estos productos según RD 1027/2007 por el que se aprueba el Reglamento de Instalaciones Térmicas en los
            Edificios (RITE) y por el RD 795/2010 por el que se regula la comercialización y manipulación de los gases
            fluorados y equipos basados en los mismos, así como la certificación de los profesionales que los utilizan.
          </p>
          <p class="fw-bold">Todos los productos comercializados por Conforzone Eficiencias disponen de la garantía del
            fabricante así como de la garantía de nuestras instalaciones realizadas.</p>
        </div>
      </div>
    </div>
  </div>
</div>