<div class="about-us">
    <div class="container p-md-5 p-4">
        <div class="d-flex justify-content-md-center">
            <h1 class="fw-bold">Sobre nosotros</h1>
        </div>
        <div class="pt-3 fw-medium">
            <p>CONFORZONE EFICIENCIAS Autorizada y acreditada para la instalación y mantenimiento de equipos de aire acondicionado, climatización, ventilación, calefacción, aerotermia y energía solar, instalaciones de todo tipo, domésticas, residenciales, comerciales, e incluso grandes instalaciones.</p>
            <p>Estamos inscrito en el Registro de Empresas Instaladoras y Mantenedoras de Instalaciones Térmicas en los Edificios (RITE) según R.D. 1027/2007 de 20 de Julio con Registro de inscripción Nº 01-B-E20-41046293 Y 01-B-D20-41046293 en el Registro de Establecimientos y Actividades Industriales de Andalucía, lo que garantiza la profesionalidad y la calidad en nuestros trabajos.</p>
        </div>
        <div class="pt-3">
            <div class="row">
                <div class="col-md-6 order-1 order-md-1" data-aos="fade-right">
                  <h2>Eficiencia en climatización</h2>
                  <p>Optimizamos el rendimiento de cada sistema para asegurar el máximo confort con el menor consumo energético.</p>
                </div>
                <div class="col-md-6 order-2 order-md-2" data-aos="fade-left">
                  <img src="../../../../assets/aire.webp" class="img-fluid" alt="">
                </div>
              </div>
              
              <div class="row pt-5">
                <div class="col-md-6 order-2 order-md-1" data-aos="fade-right">
                  <img src="../../../../assets/split-pared-aire.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 d-flex flex-column align-items-end order-1 order-md-2" data-aos="fade-left">
                  <h2 class="text-end">Soluciones térmicas a medida</h2>
                  <p class="text-end">Analizamos cada espacio para ofrecer una instalación adaptada a tus necesidades reales.</p>
                </div>
              </div>
              
              <div class="row pt-5">
                <div class="col-md-6 order-1 order-md-1" data-aos="fade-right" id="text">
                  <h2>Mantenimiento técnico especializado</h2>
                  <p>Nuestro equipo técnico garantiza el buen funcionamiento y la durabilidad de tus sistemas.</p>
                </div>
                <div class="col-md-6 order-2 order-md-2" data-aos="fade-left">
                  <img src="../../../../assets/mantenimiento.webp" class="img-fluid" alt="">
                </div>
              </div>
              
              <div class="row pt-5">
                <div class="col-md-6 order-2 order-md-1" data-aos="fade-right">
                  <img src="../../../../assets/rapido.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 d-flex flex-column align-items-end order-1 order-md-2" data-aos="fade-left">
                  <h2>Servicio rápido y eficaz</h2>
                  <p class="text-end">Actuamos con agilidad y precisión para resolver cualquier incidencia o instalación en el menor tiempo posible.</p>
                </div>
              </div>
              
              <div class="row pt-5">
                <div class="col-md-6 order-1 order-md-1" data-aos="fade-right">
                  <h2>Instalaciones seguras y normativas</h2>
                  <p>Trabajamos bajo las normativas vigentes (RITE, Industria), asegurando seguridad y cumplimiento legal en cada proyecto.</p>
                </div>
                <div class="col-md-6 order-2 order-md-2" data-aos="fade-left">
                  <img src="../../../../assets/segura.webp" class="img-fluid" alt="">
                </div>
              </div>
        </div>
    </div>
</div>