<footer class="footer bg-dark text-white p-0">
    <div class="container p-md-1">
        <img src="../../../assets/logo_conforzone.png" alt="Logo" routerLink="/inicio" class="pointer logo" />
        <div>
            <p><i class="fa-solid fa-clock"></i> <strong> Horario:</strong> De L-V de <strong>8:00h-20:00h</strong> y Sábado de <strong>9:00h-14:00h</strong></p>
        </div>
        <div>
            <h3 class="fw-bold pb-2">Contáctanos</h3>
            <p><i class="fa-solid fa-location-dot"></i> <strong> Dirección</strong>: Calle Asturias 10 15 Alcalá de Guadaira 41500</p>
            <p><i class="fa-solid fa-phone"></i> <strong> Llámanos</strong>: (+34) 674 86 78 24</p>
            <p><i class="fa-solid fa-envelope"></i> <strong> Email</strong>: <a class="link-with-underline text-white" href="https://mail.google.com/mail/?view=cm&fs=1&to=conforzoneeficiencias@gmail.com&su=Hola%20desde%20mi%20web&body=Has%20contactado%20con%20Conforzone%20Eficiencias%20y%20estamos%20para%20atenderte%20en%20lo%20que%20necesites.%20Muchas%20gracias" target="_blank">conforzoneeficiencias{{'@'}}gmail.com</a></p>
        </div>
    </div>
    <div class="footer-bottom d-flex justify-content-center align-items-center" style="background-color: black;">
        <p class="p-1 mt-3">Copyright © 2025 Daniel Gómez Benítez</p>
    </div>
</footer>
