<footer class="footer bg-dark text-white p-0">
    <div class="container p-md-1">
        <img src="../../../assets/logo_conforzone.png" alt="Logo" routerLink="/inicio" class="pointer logo" />
        <div>
            <h3 class=" fw-bold">Contáctanos</h3>
            <p><i class="fa-solid fa-location-dot"></i> <strong> Dirección</strong>: Calle Asturias 10 15 Alcalá de Guadaira 41500</p>
            <p><i class="fa-solid fa-phone"></i> <strong> Llámanos</strong>: (+34) 674 86 78 24</p>
            <p><i class="fa-solid fa-envelope"></i> <strong> Email</strong>: conforzoneeficiencias{{'@'}}gmail.com</p>
        </div>
    </div>
    <div class="footer-bottom d-flex justify-content-center align-items-center" style="background-color: black;">
        <p class="p-1 mt-3">Copyright © 2025 Daniel Gómez Benítez</p>
    </div>
</footer>
