.fondo{
    
    /*
    background: rgb(30,144,255);
    background: linear-gradient(50deg, rgba(30,144,255,1) 0%, rgba(255,255,255,1) 80%);
    */
}

.navbar-pc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  /*background: rgb(215, 241, 255);*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: background 0.2s ease-in-out;
  z-index: 1000;
}

.navbar-pc a {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  transition: 0.1s ease-in-out;
}

.offcanvas {
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
}

.offcanvas a {
  color: rgb(0, 0, 0);
}

.navbar-item {
  animation: fadeInUp 0.9s ease backwards;
}

.navbar-item a.active {
  color: #2098D1;
  font-weight: 600;
}

.logo {
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.05);
}

[data-aos="fade-left-soft"] {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

[data-aos="fade-left-soft"].aos-animate {
  opacity: 1;
  transform: translateX(0px);
}

.is-home{
  background: transparent !important;
  box-shadow: 0 0px 0px !important;
}

.is-home a {
  color: white;
}

@media (max-width: 1000px) {
  .is-home:not(.scrolled) .navbar-toggler {
    background-color: transparent;
    border-color: white;
  }

  .is-home:not(.scrolled) .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

.navbar-toggler {
  background-color: rgb(248, 249, 250) ;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  /*background: rgb(215, 241, 255);*/
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: background 0.2s ease-in-out;
  z-index: 1000;
}

.scrolled {
  background: white !important; /* Al hacer scroll se vuelve sólido */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07) !important;
}

.scrolled a {
  color: rgb(0, 0, 0);
}

.fondo-componentes{
  /*background: rgb(215, 241, 255);*/
  background-color: #fcfcfc !important;
  
}

.pointer{
    cursor: pointer;
}


.header-li{
    font-size: 15px;
}

.header-li-mobile{
  font-size: 30px;
}

.header-body{
  /*  height: 20vh;*/
}

.header-mobile-navbar-shop-button{
  height: 4vh;
  width: 6vh;
}

.offcanvas-mobile{
  width: 100%;
  max-width: 300px; /* Ajusta el ancho del menú */
  background: rgb(248, 248, 248);
  /*background: rgb(30,144,255);
  background: linear-gradient(307deg, rgba(30,144,255,1) 0%, rgba(140,196,255,1) 100%);
  */
  box-shadow: 1px 1px 10px black;
  color: rgb(255, 255, 255);
}

.offcanvas-body{
  height: 250px;
  min-height: 230px;
  max-height: 270px;
  overflow: hidden;
}

.whatsapp-icon{
  height: 70px; 
  width:70px; 
  background:#25d366; 
  color:white; 
  box-shadow: 3px 3px 3px black;
  min-width: 50px;
  min-height: 50px;
  max-width: 80px;
  max-height: 80px;
}

.whatsapp-icon.disabled {
  background-color: grey;
}


/*ANIMACIONES*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}