<div class="services">
    <div class="container p-md-5 p-4">
        <div class="d-flex flex-column gap-2">
            <h1 class="fw-bold text-md-center">Servicios</h1>
            <p>En nuestra tienda online contamos con un amplio catálogo de equipos de aire acondicionado de diferentes
                marcas y modelos, además de otros productos.
                Nuestros técnicos instaladores son personal propio por lo que garantizamos la máxima calidad en nuestras
                instalaciones realizadas.</p>

            <h4 class="fw-bold text-start text-md-center text-primary pb-md-2 pb-1">PUEDES CONTRATAR LA INSTALACIÓN BÁSICA DE TU NUEVO EQUIPO
                DE AIRE ACONDICIONADO EN UNOS SENCILLOS PASOS</h4>
            <img class="first-img" src="../../../../assets/Herramientas-materiales-instalar-aire-acondicionado.jpg" alt="">
        </div>
        <div class="py-4">
            <h4 class="fw-bold">1. Selecciona el sistema que quieres instalar</h4>
            <p class="">Debes entrar en el enlace correspondiente al equipo que hayas elegido instalar y añadirlo al
                carrito de la compra. Una vez dentro, tienes disponible todas las instalaciones ordenadas por potencia.
                Elige la que corresponda al equipo.</p>
            <p>Debes leer bien toda la información, es muy importante para que el día del montaje, sea todo un éxito.</p>
        </div>

        <div>
            <div class="row row-cols-1 row-cols-md-4 gap-4 justify-content-center">
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-split-pared">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Split de Pared</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-multisplit-pared">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Multisplit de Pared</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-conductos">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Equipo de Conductos</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-equipo-casette">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Equipo de Cassette</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-equipo-suelo-techo">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Equipo Suelo Techo</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-paneles-placas-solares">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica de Placas y Paneles Solares</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-termos-electricos">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica de Termos Eléctricos</h4>
                    </a>
                </div>
                <div class="col text-center">
                    <a routerLink="/servicios/instalacion-acumulador-aerotermia">
                        <img src="../../../../assets/instalacion-split-pared.jpg" class="img-fluid" alt="">
                        <h4>Instalación Básica Acumulador por Aerotermia</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="py-5">
            <h4 class="fw-bold">2. ¿Dónde hacemos instalaciones?</h4>
            <p class="">En Conforzone Eficiencias contamos con un equipo propio de técnicos instaladores para ofrecer
                servicio de instalación de aire acondicionado en <strong>Sevilla</strong>. Para otras provincias como Huelva, Cádiz, Córdoba y Málaga <strong>consultar presupuesto.</strong> </p>
            <div class="d-flex justify-content-center">
                <img class="map-image" src="../../../../assets/andalucia.png" alt="">
            </div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h4 class="fw-bold">Garantía de calidad. Estamos acreditados para tu instalación</h4>
            <p class="text-start text-md-center">Conforzone Eficiencias es empresa acreditada en la instalación y
                mantenimiento de instalaciones térmicas de edificios según R.I.T.E. (R.D. 1027/2007 de 20 de Julio) con
                inscripción nº 41041879 en el Registro de Establecimientos y Actividades Industriales de Andalucía.</p>
            <h4 class="fw-bold">¿Tienes dudas o necesitas que te ayudemos?</h4>
            <p class="text-start text-md-center">En caso de duda, <a class="link-with-color"
                    routerLink="/contacto">contacta</a> con nosotros por cualquiera de nuestros medios</p>
            <h4 class="fw-bold">Teléfono: 674 86 78 24</h4>
            <h4 class="fw-bold text-center text-wrap">Email: conforzoneeficiencias{{'@'}}gmail.com</h4>
        </div>

    </div>
</div>